
html,
body{
	height:100%;
	/*min-width:$min_width;*/
	font-family:'Montserrat';
	font-size: 12px;
	padding: 0px;
	margin: 0px;
}

#app{
	color: #000;
	background-color: #FFF;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
}

